body,
html {
  background-color: #697e87;
}

.navigationBar {
  background-color: #697e87;
  border: 0px solid #697e87;
  width: 100%;
}

.header {
  color: whitesmoke;
  background-color: #697e87;
  text-align: center;
  font-family: "Reenie Beanie", cursive;
  font-size: 50px;
}

.h2 {
  font-family: "Felipa", cursive;
  background-color: #697e87;
  width: 100%;
  padding: 0 auto;
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
}

.container-fluid {
  background-color: #697e87;
  @media (min-width: 1024px) {
    img {
      max-width: 850px;
      margin: auto;
      display: block;
    }
  }
}

img {
  width: 350px;
  margin: auto;
  display: block;
}

.center {
  background-color: #697e87;
}

#social {
  background-color: #697e87;
}

#social ul {
  text-align: center;
  padding-left: 0px;
  margin: 0 auto;
}

#social li {
  display: inline-block;
  list-style-type: none;
  margin-left: 5px;
}

/** Facebook **/

.facebook {
  width: 30px;
  height: 30px;
}

.facebook .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-facebook {
  font-size: 20px;
}

/** Github **/

.github {
  width: 30px;
  height: 30px;
}

.github .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

.github .border:hover {
  background: #00aced;
  border-color: #72c6e6;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-github {
  font-size: 20px;
}

/** Instagram **/

.instagram {
  width: 30px;
  height: 30px;
}

.instagram .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

.instagram .border:hover {
  background: #517fa4;
  border-color: #7495af;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-instagram {
  font-size: 20px;
}

/** linkedin **/

.linkedin {
  width: 30px;
  height: 30px;
}

.linkedin .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

.linkedin .border:hover {
  background: #ea4c89;
  border-color: #ff78ac;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa-linked {
  font-size: 20px;
}

#social ul li {
  transition: ease 0.3s;
}

#social ul:hover > li {
  opacity: 0.5;
}

#social ul:hover > li:hover {
  opacity: 1;
}

/*nav bar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-area {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: center center;
  background-size: cover;
}
/* default css end */

/* navbar regular css start */
.navbar-area {
  background: transparent;
  border: 0px solid #697e87;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #697e87;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

@media (min-width: 1000px) {
  img {
    max-width: 540px;
    margin: auto;
    display: block;
  }
}

@media (min-width: 1024px) {
  img {
    max-width: 850px;
    margin: auto;
    display: block;
  }
}
